@import "font-awesome/fontawesome";
@import "font-awesome/brands.scss";
@import "font-awesome/solid.scss";
// @import "bootstrap-cust";
@import "node_modules/bootstrap/scss/bootstrap.scss";

/*  樣式變數定義  */

@import "var";

/*  mixins定義 */

// @import "mixin";

/*  全站統一性初始化  */

@import "_normalize";

/*  全站統一性初始化之客製化  */

@import "_normalize-custom";

/*  全站統一性定義  */

@import "global";

body {
  height: 100%;
  background-color: $main-bgc;
  .wrapper {
    .row {
      #sideBar {
        background-color: $sideBar-bgc;
        padding: 0;
        min-height: 100vh;
        // position: fixed;
        // top: 0;
        // left: -250px;
        // width: 250px;
        // transition: 0.3s;
        // border: 1px solid;
        #userProfile {
          height: 200px;
          background: linear-gradient(180deg, #faa88f 37%, #fe816d 74%);
          background: -moz-linear-gradient(180deg, #faa88f 37%, #fe816d 74%);
          background: -webkit-linear-gradient(180deg, #faa88f 37%, #fe816d 74%);
          background: -o-linear-gradient(180deg, #faa88f 37%, #fe816d 74%);
          display: flex;
          justify-content: center;
          align-items: center;
          #userProfileBox {
            width: 90%;
            // border: 1px solid;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            #userPhoto {
              width: 110px;
              height: 110px;
              img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
              }
            }
            #userIM {
              margin-top: 10px;
            }
          }
        }
        #featureLists {
          // border: 1px solid;
          #featureListsUl {
            // border: 1px solid;
            margin: 0;
            padding: 0;
            margin-top: 25px;
            .featureListsli {
              // padding: 10px 0px;
              transition: 0.3s;
              border-bottom: 1px solid rgba(0, 0, 0, 0.2);
              box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
              a {
                // border: 1px solid;
                padding: 20px;
                // background-color: pink;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: $main-color;
                font-weight: 900;
                font-size: $default-font-size * 2;
              }
              .icon {
                display: inline-block;
                text-indent: -999px;
                overflow: hidden;
                width: 33px;
                height: 33px;
                // border: 1px solid;
              }
              &:hover {
                margin-left: 1px;
                border-left: 3px solid $sideBar-list-hover-bar;
                background-color: $sideBar-list-hover-bg;
              }
              &.isActive {
                margin-left: 1px;
                border-left: 3px solid $sideBar-list-select-bar;
                background-color: $sideBar-list-select-bg;
              }
            }
          }
        }
      }
      #main {
        background-color: $main-bgc;
        min-height: 100vh;
        .header {
          background-color: $header-bgc;
          height: 70px;
          display: flex;
          align-items: center;
          #headerLogo {
            border: 1px solid;
            h2 {
              color: $default-color;
            }
          }
          #haederNotice {
            border: 1px solid;
            .icon {
              display: inline-block;
              text-indent: -999px;
              overflow: hidden;
              width: 51px;
              height: 51px;
              border: 1px solid;
              border-radius: 50%;
            }
          }
        }
        .content {
          border: 1px solid;
          background-color: $main-bgc;
          .fansBox {
            background-color: $default-color;
            margin-top: 30px;
            padding: 15px;
            border-radius: 40px;
            box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.3);
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .fansBoxTitle {
              width: 90%;
              margin: 15px 0px;
              h5 {
                color: $main-color;
                font-weight: 700;
              }
              span {
                color: $second-color;
                font-weight: bold;
                font-size: $default-font-size * 1.2;
                position: relative;
                margin-left: 10px;
                &::before {
                  content: "";
                  display: block;
                  position: absolute;
                  height: 100%;
                  border-left: 5px solid $second-color;
                  margin-left: 2px;
                  margin-top: 7px;
                }
              }
            }
            .fansBoxChart {
              width: 90%;
              .lbl-off,
              .lbl-on {
                cursor: pointer;
                display: block;
                font-size: 0.9em;
                font-weight: bold;
                line-height: 1em;
                position: absolute;
                top: 8 / 16 * 1em;
                transition: opacity $transition-default;
                text-transform: uppercase;
              }

              .lbl-off {
                right: 75px;
                top: 60px;
              }

              .lbl-on {
                color: $black;
                opacity: 0;
                right: 140px;
                top: 60px;
              }

              .switch {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                height: 30px;
                font-size: 1em;
                right: 90px;
                line-height: 0;
                outline: none;
                position: absolute;
                top: 50px;
                width: 90px;

                &:before,
                &:after {
                  content: "";
                  font-size: 1.2em;
                  position: absolute;
                }

                &:before {
                  border-radius: 20 / 16 * 1em;
                  background: $color-silver;
                  height: $height;
                  left: 4 / 16 * -1em;
                  top: 3 / 16 * -1em;
                  transition: background-color $transition-default;
                  width: 120px;
                }

                &:after {
                  box-shadow: 0 0.0625em 0.375em 0 #666;
                  border-radius: 50%;
                  background: $color-white;
                  height: 24 / 16 * 1em;
                  transform: translate(0, 0);
                  transition: transform $transition-default;
                  width: 24 / 16 * 1em;
                }

                &:checked {
                  &:after {
                    transform: translate(40 / 16 * 1.7em, 0);
                  }

                  & ~ .lbl-off {
                    opacity: 0;
                  }

                  & ~ .lbl-on {
                    opacity: 1;
                  }
                }

                &#switch-orange {
                  &:checked:before {
                    background: $color-carrot;
                  }
                }

                &#switch-blue {
                  &:checked:before {
                    background: $color-peter-river;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.blog-post {
  margin-bottom: 18px;
  .blog-post-title {
    .sub {
      color: #ff8551;
      font-size: 50%;
    }
  }
  &::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    border-bottom: 1px solid #eee;
  }
}
