@charset "utf-8";

/* ============================= */
/* ===== variables_default ===== */
/* ============================= */

$main-color: #fe816d; // 網粉 => 橘色
$second-color: #89878a; // 網黑 => 灰色
$third-color: #d16c5d; // 比網粉深一點 => 深紅色
$default-color: #fff; // 預設為白色       => 白色
$Shallow-text: #b5b4b4; // fansBox的小字 => 淺灰色
$deep-text: #787775; // 異常帳號表格的文字 => 深灰色
$good-bar: #fe816d;
$love-bar: #f86260;
$wow-bar: #64ae7d;
$wu-bar: #61cef6;
$angry-bar: #f84c68;
$default-font-size: 10px;

/*===== variables_header =====*/
$header-bgc: #4f4f4f;
$header-notice: #89878a;

/*===== variables_sideBar =====*/
$sideBar-bgc: #fff;
$sideBar-list-hover-bg: #efeef0;
$sideBar-list-select-bg: #fbe5e1;
$sideBar-list-hover-bar: #89878a;
$sideBar-list-select-bar: #fe816d;

/*===== variables_main =====*/
$main-bgc: #f2f3f3;

/*===== 紛絲黑粉按紐 =====*/

$height: 30 / 16 * 1em;
$width: 72 / 16 * 1em;

$color-white: #fefefe;
$color-clouds: #ecf0f1;
$color-silver: #bdc3c7;
$color-peter-river: #3498db;
$color-carrot: #e67e22;

$transition-default: 0.25s ease-out 0.1s;

// $card-block-default-color: #1c2c3c;
// $card-boxshadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.15);
// $single-news-title-padding: 12px 0 0;
// $card-padding: 4px 0;
// $card-z-index: 999;
// $card-bgcolors: (
//   youth: #fbd304,
//   culture: #dc1454,
//   life: #14b35c,
//   entertainment: #067aef,
//   gadget: #04b494,
//   education: #1c2c3c,
//   design: #54443c
// );

// $list: youth culture life entertainment gadget education design;
